<div class="dashboard">
  <h1>Dashboard</h1>

  <h2>Lista de productos</h2>

  {{#if products.length}}
    <div class="product-list">
      {{#each products}}
        {{> productCard this }}
      {{/each}}
    </div>
  {{else}}
    <h2>No hay productos disponibles 😢...</h2>
  {{/if}}
</div>