<div class="product-detail">
  {{#with product}}
    <img src={{thumbnail}} alt="">
    <div class="product-text">
      <p>{{title}}</p>
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
    </div>
  {{/with}}
</div>