<div>
  <h1>Real-Time Products</h1>

  <form id="product-form" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="nombre de producto">
    <input type="text" name="description" placeholder="descripcion">
    <input type="number" name="price" placeholder="precio">
    <input type="text" name="code" placeholder="codigo">
    <input type="number" name="stock" placeholder="stock total">
    <input type="file" name="file0" >

    <button type="submit">Agregar producto</button>
  </form>

  <div id="product-list" class="product-list" ></div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</div>